<br>
<h1 class="center red big">FAQ</h1>
<br>
<br>
<h4 class ="left">GENERAL</h4>
<br>
<br>
<hr>

<div id="center_search">
<%= form_tag faqs_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
</div>
<br>
<br>

<% @faqs.each do |faq| %>
  <div class="well">
    <h4><em><strong><%= faq.title %></strong></em></h4>
    <br>
    <%= raw faq.body %>
    <br>
    <br>
  </div>
<% end %>

<button id="click" class="center">Go up!</button>
<br>
<br>

