<h1>Listing faqs</h1>



<% @faqs.each do |faq| %>
  <div class="well">
    <h4><em><strong><%= faq.title %></strong></em></h4>
    <br>
    <%= faq.body %>
    <br>
    <br>
  </div>
<% end %>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.title %></td>
        <td><%= faq.body %></td>
        <td><%= link_to 'Show', faq %></td>
        <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
        <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faq', new_faq_path %>
