<br>
<h1 class="center red big">FAQ</h1>
<br>
<a><p id="searchLink">search</p></a>


<div id="center_search">
<%= form_tag faqs_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
<% end %>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-6">
    <br>
    <h4 class ="center">GENERAL</h4>
    <br>
    <% @general_faqs.each do |faq| %>
    <div class="well">
        <h4><em><strong><%= link_to "#{faq.title}", faq %></strong></em></h4>
        <br>
    <!--     <%= raw faq.body %> -->
        <br>
      </div>
    <% end %>
    </div>

  <div class="col-md-6">
    <br>
    <h4 class ="center">ADMIN</h4>
    <br>
    <% @admin_faqs.each do |faq| %>
    <div class="well">
        <h4><em><strong><%= link_to "#{faq.title}", faq %></strong></em></h4>
        <br>
    <!--     <%= raw faq.body %> -->
        <br>
      </div>
    <% end %>
  </div>
</div>



<button id="click" class="center">Go up!</button>
<br>
<br>

